node_modules
npm-debug.log
.DS_Store

# vagrant stuff
.vagrant

# berkshelf stuff
Berksfile.lock

# coverage stuff
lib-cov
coverage.html

# test stuff
test/scenarios/destinationFile/output
test/scenarios/quietOption/output
